<header class="masthead">
  <div class="container">
    <div class="intro-text">
        <div class="intro-heading text-uppercase">Crepoli</div>
        <p class="intro-p">당신의 숨겨진 재능을 보여주세요</p>
        <a href="#gallery" class="btn btn-circle js-scroll-trigger">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
    </div>
  </div>
</header>
